{% extends 'auth_view/base.html' %}

{% block content %}

<div class="pt-6 px-4">

               <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                 {% if not user_links %}
                   <p>You haven't created any links</p>
                   {% endif %}
               </div>
               <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
                   {% for url in user_links %}
                  <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">


                     <div class="flow-root">
                        <ul role="list" class="divide-y divide-gray-200">
                           <li class="py-3 sm:py-4">
                              <div class="flex items-center space-x-4">
                                 <div class="flex-1 min-w-0">
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{url.title}}
                                    </p>
                                    <p class="text-sm text-gray-500 truncate">
                                       <a href="https://{{url.url}}" class="__cf_email__">sci-ly.link//{{url.scissor_url}}</a>
                                    </p>
                                     <p>
                                         Date
                                     </p>
                                 </div>



                              </div>
                           </li>


                        </ul>
                     </div>

                  </div>
                   {% endfor %}

               </div>
            </div>
{% endblock %}