{% extends 'auth_view/base.html' %}

{% block content %}
<style>

    #overlayButton {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  {#.res button {#}
  {#      position: absolute;#}
  {#      top: 55%;#}
  {#      left: 30%;#}
  {#      transform: translate(-50%, -50%);#}
  {#      -ms-transform: translate(-50%, -50%);#}
  {#      background-color: #555;#}
  {#      color: white;#}
  {#      font-size: 16px;#}
  {#      padding: 12px 24px;#}
  {#      border: none;#}
  {#      cursor: pointer;#}
  {#      border-radius: 5px;#}
  {#  }#}
</style>
<div class="pt-6 px-4">
   <div class="">
       {% for qrlink in qr_links %}
      <div class="bg-white shadow rounded-lg mb-10">
         <div class="flex flex-1 flex-col md:flex-row p-2">
         <div class="relative basis-40 bg-white m-1 border border-gray-400 md:mb-2 res">
             {% if qrlink.gen_code %}
             <img src="{{ url_for('static', filename='img/' +'sci-' + qrlink.url.split('.')[1] + '.png') }}">
             {% else %}
                  <img class="w-64 filter blur-lg" id="myImage{{qrlink.id}}"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/296px-QR_code_for_mobile_English_Wikipedia.svg.png">
                 <form action="/gencode" method="post">
                 <input type="hidden" name="record_id" value="{{qrlink.id}}">
                 <button class="absolute top-16 left-10 bg-blue-500" id="overlayButton{{qrlink.id}}" >Show Code</button>
                 </form>
             {% endif %}
               </div>
               <div class="basis-1/2 bg-white m-1 p-2">
                  <div class="items-center">

                        <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">{{ qrlink.title }}</span><br>
                        <h3 class="text-base font-normal text-gray-500">Website</h3>
                      <p>https://{{ qrlink.url }}</p>
                      <p class="">sci-ly.link//{{ qrlink.scissor_url }}</p>
                      <p class="leading-none">{{ qrlink.date_published.strftime('%Y-%m-%d') }}</p>


                  </div>
               </div>

             <div class="basis-1/4 bg-white m-1">
                 <button class="btn btn-warning bg-gray-900">Download</button>
             </div>
         </div>
      </div>
    {% endfor %}
   </div>
</div>

     <script>

        {% for qr in qr_links %}
            {%  if not qr.gen_code %}
        document.getElementById("overlayButton{{qr.id}}").addEventListener("click", function() {
            var image = document.getElementById("myImage{{qr.id}}");
            var button = document.getElementById("overlayButton{{qr.id}}");
            image.style.filter = "none";
            button.style.display = "none";
        });
            {% endif %}
        {% endfor %}
    </script>

{% endblock %}